# Environment variables
.env
.env.*
!.env.example

# Dependencies
/vendor
/node_modules

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
/logs/*
!logs/.gitkeep

# Cache
/cache/*
!cache/.gitkeep

# Uploaded files
/public/uploads/*
!public/uploads/.gitkeep

# Build files
/dist
/build

# OS files
.DS_Store
Thumbs.db 